<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="vejamais.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div id="blogimage"></div>
    <div id="divgeral">
        <p class="texto">&nbsp;&nbsp;&nbsp;&nbsp;Ah! As lindas montanhas, sempre imponentes, são maravilhosas de se admirar. <br>
         Quanto mais longe estão, mais despertam nossa curiosidade; e, quanto mais perto,<br> nos dão arrepios de adrenalina 
         e empolgação para subi-las e conquistá-las. <br>
        Ver uma montanha ao longe ao passar por uma estrada e não admirá-la é uma tarefa quase impossível,<br> 
        principalmente para amantes da natureza e desbravadores.<br>
        Não se encantar com tamanha beleza e imponência é como estar morto por dentro<br> ou totalmente perdido 
        em um sistema urbano e caótico.
            
        </p>
            <p class="imagem" id="mantiqueira"> Serra da Mantiqueira</p>
            
        <p class="texto">
            &nbsp;&nbsp;&nbsp;&nbsp;Nossos antepassados já escalavam montanhas por vários motivos, tanto religiosos <br>
             (como exemplos em diversas religiões e rituais mitológicos) quanto estratégicos, <br>
            para guerras ou defesa de território — algo que ainda se vê em conflitos modernos. <br>
             Mas, independente da motivação, sempre foi desafiador subir montanhas.


        </p>
        <div id="povos">
        <p class="imagem" id="machupicchu"></p>
        <p class="imagem" id="incas"></p>
        </div>
       
        <p class="texto"> &nbsp;&nbsp;&nbsp;&nbsp;As explorações científicas e cartográficas ainda são um dos motivos mais comuns <br>
             que levam pessoas a subir montanhas, assim como os guias de montanha. Já pensou que maravilhoso <br>
             poder subir montanhas enquanto trabalha? É tão divertido que nem deve desgastar mentalmente ou <br>
             causar burnout.
        </p>
        <p class="texto">&nbsp;&nbsp;&nbsp;&nbsp;Durante o Renascimento, o interesse por explorar e estudar montanhas cresceu. <br>
             Em 1492, Antoine de Ville escalou o Mont Aiguille, nos Alpes franceses, considerado uma das <br>
             primeiras ascensões documentadas. As montanhas começaram a ser exploradas para mapeamento <br>
             e estudos científicos, como os de Horace-Bénédict de Saussure, que realizou expedições ao <br>
             Mont Blanc no século XVIII.
            
            </p>
        <p class="imagem" id="blanc">&nbsp;&nbsp;Mont Blanc</p>
        <hr>
        <br>
        <p class="imagem" id="escalador">&nbsp;&nbsp;Jacques Balmat e <br><br><br><br><br><br> &nbsp;&nbsp;&nbsp;Michel-Gabriel</p>
        <p class="texto">Curiosamente, em 1786, Jacques Balmat e Michel-Gabriel Paccard fizeram a primeira <br>
             escalada oficial do Mont Blanc, marcando o início do montanhismo como atividade esportiva. <br>
            Existem modalidades de montanhismo realmente empolgantes e de fácil adesão, enquanto outras <br>
             exigem anos de experiência ou especialização para determinados tipos de montanhas. <br>
             
        </p>
        
        <h3 class="texto"> Aqui estão algumas delas:</h3>
        <p class="texto">
           <h3 class="texto">Caminhada (hiking):</h3>  <p class="texto">Exploração de trilhas e caminhos em áreas montanhosas. <br>
            Normalmente, não requer equipamentos técnicos além de botas adequadas e uma mochila. <br>
             É uma atividade leve e divertida, mas que, claro, exige atenção e autocuidado.</p> 
        </p>
        <p class="imagem" id="hiking"></p>
        <p class="texto"> <h3 class="texto">1.1 Trekking:</h3> <p class="texto"> Envolve caminhadas de mais de um dia, podendo incluir <br>
             travessias de montanhas. Um exemplo clássico no Brasil é a travessia da Serra dos Órgãos. <br>
              Um pouco mais de conhecimento aqui nunca pesa na mochila!</p>
            
            </p>
        <p class="imagem" id="trekking"></p>
        <p class="texto"><h3 class="texto">Escalada:</h3> <p class="texto">Envolve subir paredes rochosas ou verticais, usando técnicas <br>
             e equipamentos especializados, como cordas, mosquetões, capacetes e grampos</p> .
        </p>
        <p class="texto">
          <h3 class="texto">Alpinismo:</h3> <p class="texto">Uma forma avançada de montanhismo, que normalmente envolve subir montanhas <br>
           de grande altitude. Requer habilidades técnicas em escalada, conhecimento sobre neve e gelo, <br>
            e uso de equipamentos como crampons e piolets</p> .
        </p>
        <p class="imagem" id="alpinista"></p>

        <p class="texto"> <h3 class="texto">Trail Running:</h3> <p class="texto">Corrida em trilhas de montanha, combinando a resistência <br>
             do trekking  com a velocidade da corrida. Eu já presenciei <br> varios corredores de montanha
            particularmente eu acho incrivel</p> 
            
            </p>
        <p class="imagem" id="trail"></p>

        <h3 class="texto" id="asmaiores">As maiores montanhas de cada continente:
        </h3>

        <p class="texto"><h3 class="texto">Ásia:</h3>  <br>

           <h3 class="texto">Monte Everest</h3> <p class="texto">(8.849 m) – Fronteira entre Nepal e China (Tibete). <br>
            <h3 class="texto">Detalhe:</h3>  <div class="texto">O ponto mais alto do mundo e sonho de muitos alpinistas</div> </p> </p>
        <p class="imagem" id="everest"></p>

        <p class="texto" > <h3 class="texto">América do Sul:</h3> <p class="texto">
            <h3 class="texto">Monte Aconcágua</h3> <p class="texto">(6.961 m) – Cordilheira dos Andes, Argentina. <br>
            Detalhe: A montanha mais alta fora da Ásia.</p> </p>

        </p>
        <p class="imagem" id="aconcagua"></p>

        <p class="texto"><h3 class="texto">América do Norte:</h3> 
            <p class="texto"> <h3 class="texto">Denali</h3> <p class="texto">(6.190 m) – Alasca, EUA. <br>
            Detalhe: Conhecida por seu clima extremo e desafios técnicos.</p> </p>
            </p>
        <p class="imagem" id="denail"></p>
        <p class="texto"> <h3 class="texto">África:</h3>
            <p class="texto"> <h3 class="texto">Monte Kilimanjaro</h3> <p class="texto">(5.895 m) – Tanzânia. <br>
            Detalhe: Vulcão adormecido, acessível e deslumbrante.</p></p>
            
            </p>
        <p class="imagem" id="kilimanjaro"></p>

        <p class="texto"><h3 class="texto">Europa:</h3> 
            <p class="texto"> <h3 class="texto">Monte Elbrus</h3> <p class="texto">(5.642 m) – Rússia. <br>
            Detalhe: O mais alto da Europa, localizado no Cáucaso</p> .</p>
           
            </p>
        <p class="imagem" id="Elbrus"></p>

        <p class="texto"> <h3 class="texto">Antártica:</h3>
            <p class="texto"> <h3 class="texto">Monte Vinson</h3> <p class="texto">(4.892 m) – Cordilheira Vinson. <br>
            Detalhe: Escalada em condições extremas de frio e isolamento.</p> </p>
           
        </p>
        <p class="imagem" id="vinson"></p>

        <p class="texto"> <h3 class="texto">Oceania:</h3>
            <p class="texto"> <h3 class="texto">Carstensz Pyramid</h3> <p class="texto">(4.884 m) – Nova Guiné, Indonésia. <br>
            Detalhe: Tecnicamente desafiadora, a mais alta da Oceania</p>.</p>
            
            </p>
        <p class="imagem" id="pyramid"></p>
        <hr class="hr">
        <br>

        <h2 id="hchim" class="texto">Monte Chimborazo</h2>
        <p class="imagem" id="Chimborazo"></p>
        <p class="texto">
            &nbsp;&nbsp;&nbsp;&nbsp;Curiosamente, o Chimborazo, no Equador, poderia ser considerado a montanha mais alta do mundo <br>
             se levarmos em conta sua distância ao centro da Terra. São 2,1 km a mais em comparação com o Everest, <br>
             graças ao formato oblato da Terra.

        </p>
        <hr class="hr"><br>
        <h2 id="h2prvsrj" class="texto">Montanhismo no Brasil: Paraná vs. Rio de Janeiro
        </h2>
        <p class="texto">
            Paraná: <br>

            Destaques: Pico Paraná, Marumbi, Caminho do Itupava. <br>
            Características: Montanhas cobertas pela Mata Atlântica, clima úmido e desafiador.

        </p>
        <p class="imagem" id="marumbi">Marumbi</p>

        <p class="texto">
            Rio de Janeiro: <br>

        Destaques: Dedo de Deus, Pedra da Gávea, Pedra do Sino. <br>
        Características: Formações rochosas com vistas urbanas e litorâneas impressionantes.

        </p>
        <p class="imagem" id="gavea">&nbsp;&nbsp;  Pedra da Gávea </p>
        <p class="texto">
            Ambos os estados têm montanhistas apaixonados e uma saudável rivalidade. <br>
             Quem ganha? Difícil dizer, pois ambos são incríveis! Eu não me atrevo a opinar!
        </p>
        <p class="imagem" id="parana">&nbsp;&nbsp;Pico Paraná</p>

        <br><br><br>
        <hr class="hr">
        <br><br><br>
        <p class="imagem" id="imagemfinal"></p>
        <p class="texto">Eu particularmente gostaria de explorar todas essas travessias e, <br>
             quem sabe, viver experiências
             além do Brasil, agregando novos conhecimentos na minha mochila.</p>

        <br><br><br>
    </div>
</body>
</html>