<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

   
    <div id="login">
    <form action="/login" method="post">
     <h4>insira usuario e senha</h4>
    <p>usuario</p>
    <input type="text" name="username">
    <br>
    <p>senha</p>
    <input type="password" name="password">
    <br><br>
    <button type="submit">Logar</button>
    <br><br>
    <p>Apenas ADMs do site podem logar</p>
    </form>
    </div>
  
</body>
</html>